.transfer__info {
    background: linear-gradient(90deg, #1F2152 0%, #0C0D18 100%);
    border-radius: 10px 10px 0 0;
    padding: 26px 15px 25px 46px;
    margin-top: 48px;
}

.transfer__container {
    background: #131722;
    border-radius: 10px;
    max-width: fit-content;
    margin: 0 auto;
}

.transfer__title {
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
}

.transfer__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #A1A0A7;
    margin-top: 2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    outline: none;
}

input[type=number] {
    -moz-appearance:textfield;
    outline: none;
    border: none;
}

.transfer__send {
    position: relative;
}

.transfer__send,
.transfer__get {
    width: 100%;
}

.transfer__send-title,
.transfer__get-title,
.transfer__receivers-title {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    margin-bottom: 12px;
    margin-top: 30px;
}

.transfer__send-input{
    position: relative;
    min-width: 434px;
}

.transfer__send-input input {
    max-width: 100% !important;
}

.transfer__send-input,
.transfer__get-input {
    display: flex;
    height: 53px;
    background-color: #000000;
    border-radius: 10px;
    padding: 10px 20px 11px 1px;
}

.transfer__send-input input,
.transfer__get-input input {
    background-color: #000000;
    padding-right: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    max-width: 276px;
    flex-basis: 100%;
}

.transfer__send-input input::placeholder,
.transfer__get-input input::placeholder {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #9F9EA5;
}

.transfer__send-container {
    max-width: 434px;
    margin: 30px auto auto auto;
    position: relative;
}

.transfer__send-select {
    background-color: #33394C;
    border-radius: 10px;
    min-width: 122px;
    height: 51px;
    cursor: pointer;
    padding: 8px 13px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
}

.transfer__send-select img{
    width: 21px;
    height: 21px;
    pointer-events: none;
}

.transfer__send-select svg{
    position: absolute;
    right: 20px;
    top: 22px;
    transform: rotate(0deg);
    transition: transform .3s ease-in-out;
    pointer-events: none;
}

.transfer__send-select.active svg{
    transform: rotate(180deg);
}

.transfer__select-name{
    margin-left: 9px;
    pointer-events: none;
    font-weight: 500;
}

.transfer__send-available {
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    margin-top: 12px;
    color: #A1A0A7;
}

.transfer__send-available span {
    color: #5C76FD;
    cursor:pointer;
}

.transferForm__currency-list{
    border: 1px solid transparent;
    border-radius: 0 0 10px 10px;

    /*position: relative;*/
    overflow: hidden;
    height: 0;
    transition: all .3s ease-in-out;
    background: #1C2030;
    visibility: hidden;
    margin-top: 5px;
    position: absolute;
    right: 0;
    left: 0;
}

.transferForm__currency-list.active{
    box-shadow: 1px 1px 31px -7px rgb(0 0 0 / 75%);
    -webkit-box-shadow: 1px 1px 31px -7px rgb(0 0 0 / 75%);
    -moz-box-shadow: 1px 1px 31px -7px rgba(0,0,0,0.75);
    height: 200px;
    background: #1f2534;
    visibility: visible;
}


.transferForm__coin-items{
    height: 191px;
    overflow-x: hidden;
    overflow-y: scroll;
}


.transferForm__coin-items::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

.transferForm__coin-items::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0 none #ffffff;
    border-radius: 42px;
}

.transfer__currency-item{
    width: auto;
    height: 48px;
}

.transfer__currency-item{
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
  
    background-color: rgba(255, 255, 255, 0);
}

.transfer__currency-item{
    padding-left: 15px;
    padding-right: 15px;
}

.transfer__currency-item:hover{
    background:#3f465a;
}

.transfer__currency-item:last-child{
    border-bottom: none;
}

.transferForm__currency-sub,
.transferForm__currency-content,
.transferForm__currency-title,
.transferForm__currency-img{
    line-height: 14px;
    pointer-events: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-size: 15px;
    font-weight: 500;
}

.transferForm__currency-content{
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    align-items: start;
    justify-content: center;
    flex-basis: 80%;
}

.transferForm__currency-title{
    color: #9e9e9e;
    font-size: 15px;
    font-weight: 500;
}

.list-coin-one{
    z-index: 3;
}

.transferForm__currency-img{
    width: 30px;
    height: 30px;
}

.transfer__you {
    padding: 30px 233px 0 237px;
}

.transfer__range {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 19px auto 32px auto;
    border-radius: 3px;
    max-width: 468px;
    padding-left: 19px;
}

.transfer__range-input {
    width: 100%;
}

input[type="range"] {
    -webkit-appearance: none;
    margin-right: 15px;
    height: 7px;
    background: #000000;
    border-radius: 5px;
    background-image: linear-gradient(90deg, #FFB801 0%, #D38032 100%);
    background-size: 0% 100%;
    background-repeat: no-repeat;
}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 34px;
    height: 19px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
    background-image: url("../img/transfer/rangeBg.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 34px;
    height: 19px;
    background: #DADADA;
    border-radius: 15px;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}

input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    width: 34px;
    height: 19px;
    background: #DADADA;
    border-radius: 15px;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}

/* Input Track */
input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

input[type=range]::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

input[type="range"]::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.transfer__receivers {
    max-width: 434px;
    margin: 38px auto auto auto;
    padding-left: 2px;
}

.transfer__receivers-input input {
    background-color: #000000;
    height: 53px;
    border-radius: 10px;
    padding: 15px 5px 19px 1px;
    border: none;
    outline: none;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.transfer__receivers-input input::placeholder {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #9F9EA5;
}

.transfer__receivers-note {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #9F9EA5;
    margin-top: 12px;
}

.transfer__link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 37px;
    margin-left: 2px;
    padding-bottom: 40px;
}

.transfer__link {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    padding: 16px 58px 15px 59px;
    background: linear-gradient(90deg, #0E6CF8 0%, #9000D5 100%);
    border-radius: 10px;
}


.transfer__link:hover {
background:#5534b5;
background: linear-gradient(90deg, #4242d5 0%, #50a6ab 100%);
}


.transfer__table-box {
    background-color: #131722;
    border-radius: 10px;
    max-width: 904px;
    margin: 35px auto auto auto;
}

.transfer__table-names {
    display: flex;
    padding: 21px 36px 20px 52px;
    border-bottom: 1px solid #252C40;
}

.transfer__table-name {
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    color: #FFFFFF !important;
}

.transfer__table-id,
.transfer__table-date,
.transfer__table-email,
.transfer__table-amount,
.transfer__table-status {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #9F9EA5;
}

.transfer__table-status.transfer__table-status-sent {
    color: #DD6666 !important;
}

.transfer__table-status.transfer__table-status-received {
    color: #5EC762 !important;
}

.transfer__table-id {
    width: 205px;
}

.transfer__table-date {
    width: 165px;
}

.transfer__table-email {
    width: 203px;
    min-width: 180px;
}

.transfer__table-amount {
    width: 186px;
}

.transfer__table-status {
    width: 57px;
    min-width: 56px;
}

.transfer__table-value {
    padding: 40px 36px 36px 52px;
}

.transfer__table-value {
    display: flex;
}

.transfer__table-value .transfer__table-email {
    max-width: 203px;
    word-wrap: break-word;
    padding-right: 30px;
}

.transfer__table-value:nth-child(2n) {
    background-color: #252C40;
}

.transfer__table-empty {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #9F9EA5;
    text-align: center;
    padding: 74px 0 72px 0;
}

@media (max-width: 930px) {
    .transfer,
    .transfer__table {
        padding: 0 15px;
    }

    .transfer__container,
    .transfer__table-box {
        max-width: 100%;
    }

    .transfer__box {
        width: 100%;
    }

    .transfer__you {
        max-width: 434px;
        margin: 0 auto;
        padding: 30px 0 0 0;
    }
}

@media (max-width: 760px) {
    .transfer__table-box {
        overflow-y: hidden;
        overflow-x: scroll;
    }

    .transfer__table-names,
    .transfer__table-values {
        min-width: 708px;
    }
}

@media (max-width: 540px) {
    .transfer__info {
        padding: 26px 30px 25px 30px;
    }

    .transfer__send-container {
        max-width: 100%;
        padding: 0;
    }

    .transferForm__currency-list-container {
        padding: 0 30px;
        position: relative;
    }

    .transfer__you {
        padding: 30px 30px 0 30px;
        max-width: 100%;
    }

    .transfer__send-input {
        justify-content: space-between;
        min-width: fit-content;
    }

    .transfer__send-input input {
        padding-right: 0;
        max-width: fit-content;
    }

    .transfer__receivers {
        padding: 0 30px;
        max-width: 100%;
    }
}

@media (max-width: 490px) {
    .transfer__table-names {
        padding: 21px 36px 20px 20px;
    }

    .transfer__table-value {
        padding: 40px 36px 36px 20px;
    }

    .transfer__send-select {
        margin-top: 10px;
    }

    .transferForm__currency-list {
        left: 0;
    }
}

@media (max-width: 450px) {
    .transfer__info {
        padding: 26px 20px 25px 20px;
    }

    .transfer__send-container {
        padding: 0;
    }

    .transfer__you {
        padding: 30px 20px 0 20px;
    }

    .transfer__receivers {
        padding: 0 20px;
    }
}
